h2{
    width: 100%;
    background-image:url("Images/chronology.jpg");
    background-repeat:no-repeat; 

    background-size: contain;
    background-position: center;
    background-attachment: fixed;
}